<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="UNIConnectionString" connectionString="Data Source=RUE-PC\SQLEXPRESS;Initial Catalog=UNI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
